<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
    <include file="./App/Common/View/default/Public/crumb.html" />
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li class="">
                        <a href="{:U('Admin/Addons/add')}">设计新插件</a>
                    </li>
                    <li class="">
                        <a href="{:U('Admin/Addons/lists')}">已安装插件</a>
                    </li>
                    <li class="">
                        <a href="{:U('Admin/Addons/not_install')}">未安装插件</a>
                    </li>
                    <li class="">
                        <a href="{:U('Admin/Addons/manage')}">插件应用</a>
                    </li>
                    <li class="active">
                        <a href="{:U('Admin/Addons/quote')}">引用插件</a>
                    </li>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <div class="table-responsive">
                <div>
                    <a style="padding:2px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center;" href="{:U('Admin/Addons/quote_add')}">新增记录</a>
                    <form action="{:U('Admin/Addons/quote')}" method="post">
                    <if condition="$search neq ' '">
                        <input type="text"  name="search" value="{$search}"  placeholder="请输入搜索信息" class="search">
                    <else/>
                        <input type="text"  name="search" value="" placeholder="请输入搜索信息" class="search">
                    </if>
                    <input type="submit" class="button"  value="搜索" style="padding:1px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center;"/>
                    </form> 
                </div>               <!--公众号搜索功能-->
                <style>
                   /* #jilu{
                        font-size: 13px;
                        line-height: 15px;
                    }*/
                    input[placeholder], [placeholder], *[placeholder] {
                        color:#778899 !important;
                    }
                    form{margin:0px;display: inline}
                    .search{
                            width:200px;
                            height: 25px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                            padding-left: 10px;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                        }
                    #select{
                            border-radius: 5px;
                            border: 1px solid red;
                        }
                </style>
                <div id="msg">
                <div id="showdiv">
                    <div id="">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width:100px; padding-left:20px;">选中<span style="padding-left:10px;">序号</span</th>
                                <th>图片</th>
                                <th>插件名称</th>
                                <th>网址</th>
                                <th style="width:10%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="data.lists" key="k" id="vo">
                                <tr>
                                    <td style="width:10%; padding-left:20px;"><input type="checkbox" name="id" class="checks" value="{$vo.id}"><span style="padding-left:20px;">{$k}</span></td>
                                    <td><img src="{$vo.addons_img}" class="small" width="20" height="20" alt=""></td>
                                    <td><a href="{:U('Admin/Addons/quote_mess',array('id'=>$vo['id']))}">{$vo.addons_name}</a></td>
                                    <td><a href="{$vo.urls}">{$vo.urls}</a></td>
                                    <td style="width:10%;">
                                        <a href="{:U('Admin/Addons/quote_edit',array('id'=>$vo['id']))}"><img src="http://www.mobtop.com.cn/edit.gif" alt="" width='12px' height='12px'></a>  &nbsp;&nbsp; <a href="javascript:void(0);" onclick="del({$vo.id})"><img src="http://www.mobtop.com.cn/del.gif" alt="" width='15px' height='15px'></a>
                                        <!-- <a href="{:U('Admin/User/edit',array('id'=>$vo['id']))}"><img src='http://www.mobtop.com.cn/edit.gif' width='12' height='12px'/></a>&nbsp;&nbsp;
                                        <a href="{:U('Admin/User/delete',array('id'=>$vo['id']))}"><img src='http://www.mobtop.com.cn/del.gif' width='15' height='15px'/></a> -->
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <input type="hidden" name="__hash__" value="5786ea04b995bc596bb908419e9d38eb_21e697ebb3336580cc76eafc7ebda4a6" />
                    <div class="mod-table-foot">
                        <span style="margin-left:20px;"><input type="checkbox" class="check-all"><div class="quanxuan" style="margin-left:2%; display:inline-block;">全选</div><a href="javascript:void(0);" onclick="delall()" style="vertical-align: middle; display:inline-block;"><img src="http://www.mobtop.com.cn/del.gif" alt=""  style="width:15px; height:20px; display:inline-block; margin:0 0 0 10px;"></a><center>

                            <a href="index.php?s=/Admin/Addons/quote/p/1/search/{$search}">首页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Admin/Addons/quote/p/{$data.pre}/search/{$search}">上一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Admin/Addons/quote/p/{$data.next}/search/{$search}">下一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Admin/Addons/quote/p/{$data.pagesum}/search/{$search}">尾页</a>

                            &nbsp;&nbsp; 页次:<font color="red">{$data.page}</font>/{$data.pagesum}&nbsp;&nbsp;共有<font color="red">{$data.counts}</font>条记录&nbsp;&nbsp;转到<input type="text" id="p" style="width:20px; height:20px; border:1px solid #a49191">页&nbsp;&nbsp;<button onclick="gopage()" style="padding:0; line-height:18px;">GO</button></center>
                        </span>
                        <div class="page-control"><ul class="pagination pull-right">    </ul></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="popup-img" style="position: fixed;top: 0;left: 0;bottom: 0;right: 0; display: none;background: rgba(51, 51, 51,0.8);z-index: 9999;">
        <img src="" alt="" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);"/>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
         $(".check-all").on('ifChecked', function (e)
        {
            // alert(1);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('check');
        });

        $(".check-all").on('ifUnchecked', function (e)
        {
            // alert(0);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('uncheck');

        });

        function del(obj) {
            // alert(obj);
            var postUrl = "{:U('Admin/Addons/quote_del')}";
            if (confirm('你确定删除吗？')) {
                $.post(postUrl, {"id":obj}, function (data) {
                    if (data.status == 1) {
                        bootAlert(data.info);
                        setTimeout(function () {
                            location.reload();
                        }, 100);
                    } else {
                        bootAlert(data.info);
                    }
                });
            }
        }
        var tableFristText = $('.table-title-text');
        tableFristText.each(function(i,elem){
            var sl = "...";
            var html = "";
            if($(elem).html().length >4){
                html = $(elem).html().slice(0,4) + sl;
            }else {
                html = $(elem).html();
            }
            $(elem).html(html);
        });

        function gopage(){
            var page = $("#p").val();
            window.location.href='index.php?s=/Admin/Addons/quote/p/'+page;
        }
        function delall(){
            if(confirm('你确定要删除多项吗？')){
                var id = document.getElementsByName("id");
                // alert(own_id.length);
                var str = '';
                var lengths = id.length;
                for(var i=0;i<lengths;i++){  
                    if(id[i].checked)  
                    str+=id[i].value+',';   
                }
                // alert(str);
                var postUrl = "{:U('Admin/Addons/quote_delall')}";
                $.get(postUrl,{'id':str},function(data){
                    if (data.status == 1) {
                        bootAlert(data.info);
                        window.location.href="{:U('Admin/Addons/quote')}";
                    } else {
                        bootAlert(data.info);
                    }
                });
                }
            
        }
        //点击图片显示大图
    $('.table').on('click', '.small', function() {
        var src = $(this).attr('src');
        $('.popup-img').show();
        $('.popup-img').find('img').attr('src', src);
    });
    $('.popup-img').on('click', function() {
        $(this).hide();
        $(this).find('img').attr('src', '');
    })
        // function checkall(){

        // }
        
    </script>
</block>
