<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
    <include file="./App/Common/View/default/Public/crumb.html" />
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{:U('Mp/Content/content')}">公告中心</a>
                    </li>
                </ul>
            </h3>
        </div>
        <style>
        .aw-footer{
            display:none;
        }
        </style>
        <div class="tab-content mod-content">
            <div class="table-responsive">
                <div id="wengti">
                    <p style="text-align:center;font-size:14px;"><b>{$mess_data.affiche_title}</b></p>
                    <!-- <p style="float:right;">{$mess_data.affiche_time|date="Y-m-d H:i:s",###}</p> -->
                </div>
                <div class="commoun gt-cont">
                    <img src="{$mess_data.affiche_img}" style="margin:20px;" width="80" width="80" alt="">
                    {$mess_data.affiche_content}
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
</block>