<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
<include file="./App/Common/View/default/Public/crumb.html" />
<div class="mod">
    <div class="mod-head">
        <h3>
        	<ul class="nav nav-tabs">
                <li class="active">
                         <a href="#">部门管理</a>
                </li>
        </ul>
        </h3>
    </div>
        <div class="tab-content mod-content">
            <if condition="$tip">
                <div class="alert alert-info tip" role="alert">{$tip}</div>
            </if>
                         <form method="post" action="{:U('Admin/Branch/add')}" class="form-horizontal" role="form">
                           <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">客户名称:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="username" id="name" placeholder="" value="" required="required" />
                                    <span class="help-block" id="sname"></span>
                                </div>
                            </div>   
                             <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">地址:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="address" id="name" placeholder="" value="" />
                                    <span class="help-block" id="sname"></span>
                                </div>
                            </div>   
                             <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">联系人:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="phonename" id="name" placeholder="" value="" />
                                    <span class="help-block" id="sname"></span>
                                </div>
                            </div>   
                             <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">电话:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="telphone" id="name" placeholder="" value="" />
                                    <span class="help-block" id="sname"></span>
                                </div>
                            </div>   
                             <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">角色:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="role" id="name" placeholder="" value="" />
                                    <span class="help-block" id="sname"></span>
                                </div>
                            </div>  
                             <div class="form-group clearfix">

                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<label class="col-sm-2 col-xs-3 control-label clearfix" style="text-align: right">产品图片：</label>

                    <div class="col-sm-9 col-xs-12" ng-invoker="context.bind();">
                        <div class="input-group ">
                            <input name="img" class="form-control webuploader-input" value="" type="text">
                            <span class="input-group-btn">
                                        <button class="btn btn-default webuploader-btn" type="button" data-toggle="modal" data-target="#modal-wechat-webuploader" style="height: 34px;">选择图片</button>
                                    </span>
                        </div>
                        <div class="input-group " style="margin-top:.5em;">
                            <img src="/Public/Mp/img/nopic.jpg" data-nopic="/Public/Mp/img/nopic.jpg" class="img-responsive img-thumbnail webuploader-picture" width="150">
                            <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片">×</em>
                        </div>
                    </div>

                </div>
                            <div class="form-group" style="margin-left:-57px;">
                                <label class="col-sm-2 col-xs-3 control-label">备注:</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control" type="text" name="content" placeholder="" value=""  />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                             <div class="form-group" style="text-align: center">
                                 <input type="submit" value="确认" class="btn btn-primary" style="display: inline-block"/>
                                 <input type="reset" value="重置" class="btn btn-primary" style="display: inline-block"/>
                             </div>
                    </div>
                <input type="hidden" name="__hash__" value="9554d1d1b2b1aba94084ad271ac05e6a_2a17f68789adcdaeeea1fb25dfafcb19" /></form>
        </div>
</div>
</block>