
<li class="top-menu">
                        <a href="/index.php?s=/Admin/Mp/lists" class="">公众号管理</a>
                    </li><li class="top-menu">
                        <a href="/index.php?s=/Catalog/Payments/payments" class="">支付管理</a>
                    </li><li class="top-menu">
                        <a href="/index.php?s=/Video/Explain/lists" class="">视频直播</a>
                    </li><li class="top-menu">
                        <a href="/index.php?s=/Mp/Wang/lists" class="">网站管理</a>
                    </li><li class="top-menu">
                        <a href="/index.php?s=/Mp/Qi/lists" class="">企信管理</a>
                    </li><li class="top-menu">
                        <a href="/index.php?s=/Mp/Gongdan/profile" class="">工单服务</a>
                    </li>   

