@charset "utf-8";
@import "mixin";

/*操作*/
.caozuo {
    border-left: Rem(6) solid $main-color;
    margin: Rem(30) 0;
    .pal4 {
        font-size: Rem(26);
    }
}

input[type=checkbox].check-in {
    @include auto-style();
    width: Rem(30);
    height: Rem(30);
    border-radius: Rem(30);
    border: 1px solid $grey2;
}

input[type=checkbox].check-in:checked {
    border: none;
    background: url("../imgs/check-in.png") no-repeat;
    background-size: Rem(30) Rem(30);
}

.buy-list{
    background: #f1f1f1;
    margin-bottom: Rem(100);
}

/*订单列表*/
/*head*/
.item-header {
    input {
        vertical-align: middle;
    }
    p {
        font-size: Rem(26);
        vertical-align: middle;
    }
    .fr {
        font-size: Rem(24);
        margin-top: Rem(25);
        color: $grey999;
    }
}

/*lists*/
.lists {
    border-bottom: Rem(10) solid #f5f5f5;
    background: #fff;
}
.lists:last-of-type{
    border-bottom: Rem(10) solid transparent;
}
/*items*/
.items {
    min-height: Rem(140);
    border-top: 1px solid $border-grey;
    /*margin-top: Rem(22);*/
    margin-left: Rem(62);
    padding: Rem(35) 0;
    position: relative;
    .items-check {
        position: absolute;
        left: Rem(-64);
        top: Rem(50);
    }
    .pic {
        width: Rem(150);
        height: Rem(112);
        & img {
            width: Rem(150);
            height: Rem(112);
        }
    }
    .items-right {
        width: 70%;
        min-height: Rem(140);
        margin-left: Rem(26);
    }
}

/*item-con-head*/
.item-con-header {
    & h4 {
        width: 80%;
        font-size: Rem(26);
        font-weight: normal;
        @include font-els(2);
    }
    & .items-num {
        color: $grey2;
        font-size: Rem(26);
    }
}

/*item-con-footer*/
.items-footer {
    margin-top: Rem(30);
    font-size: 0;
    .item-footer-money {
        font-size: Rem(26);
        color: $main-color;
    }
    .in-money {
        font-size: Rem(26);
        color: $main-color;
    }
    .text {
        font-size: Rem(26);
        color: $grey2;
    }
}

/*item-con-inp*/
.items-inps {
    margin-top: Rem(14);
    & a {
        height: Rem(57);
        &:active {
            color: $main-color;
        }
    }
    & input[type=text] {
        width: Rem(137);
        height: Rem(57);
        border: 1px solid $grey2;
        text-align: center;
        display: inline-block;
        color: $grey666;
    }
}

/*修改操作模块*/
.items-work {
    display: none;
    position: relative;
    .work-delete {
        position: absolute;
        right: -0.8rem;
        top: -.7rem;
        background: #e13953;
        width: 1.8rem;
        color: #fff;
        text-align: center;
        font-size: 0.48rem;
        line-height: 4.2rem;
    }
}

/*footer*/
.page-footer {
    width: 100%;
    @include textHeight(Rem(96));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $blcak;
    color: $white;
    .footer-mes {
        width: 70%;
        float: left;
        label {
            display: block;
            font-size: Rem(26);
            color: $white;
            span {
                margin-left: Rem(6);
            }
        }
        .footer-money {
            margin-left: Rem(10);
            font-size: Rem(24);
            color: $grey999;
            .count-money {
                color: $white;
                font-size: Rem(30);
            }
        }
    }
    .submit {
        width: 30%;
        height: Rem(96);
        text-align: center;
        color: $white;
        background: $main-color;
        font-size: Rem(26);
        margin-right: Rem(-30);
        &:active {
            background: $main-act;
        }
    }
}

/*弹出层*/
.popups {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.71);
    display: none;
    .popops-warp {
        width: Rem(580);
        height: Rem(390);
        background: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: Rem(-(390 / 2));
        margin-left: Rem(-(580 / 2));
        .popops-header {
            width: 100%;
            @include textHeight(Rem(300));
            text-align: center;
            font-size: Rem(32);
            border-bottom: 1px solid $border-grey;
        }
        .popops-footer {
            width: 100%;
            @include textHeight(Rem(90));
            a {
                width: 50%;
                font-size: Rem(32);
                text-align: center;
                &.pop-sure {
                    width: 49%;
                    background: $main-color;
                    color: $white;
                    border-right: 1px solid $border-grey;
                }
            }
        }
    }
}



