@charset "UTF-8";
/*颜色*/
/*rem转换*/
/*多行文本省略*/
/*一行文字垂直居中*/
/*一行文字水平垂直居中*/
/*清除表单默认样式*/
/*底部间距*/
/*底部按钮*/
/*转为怪异盒模型*/
/*左右flex布局*/
body,
html {
  width: 100%;
  height: 100%; }

.sui-warpper {
  width: 100%;
  height: 92%;
  position: relative; }

.footer-submit {
  width: 100%;
  height: 7%;
  background: #ff595f;
  display: table; }
  .footer-submit a {
    color: #fff;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 0.72rem; }

.page-group,
.page {
  background: #fff; }

.header-warpper {
  width: 100%; }

.cont .cont-title {
  font-size: 0.6rem;
  color: #ff595f;
  padding: 0.4rem 0.6rem; }
.cont .shop-pic {
  display: flex;
  padding: 0 0.6rem 0.6rem 0.6rem;
  border-bottom: 0.2rem solid #ececec; }
  .cont .shop-pic .imgSrc {
    flex: 0 0 4rem;
    width: 4rem;
    height: 3.4rem; }
  .cont .shop-pic .shop-info {
    flex: 1;
    padding-left: 0.4rem;
    font-size: 0.52rem; }
    .cont .shop-pic .shop-info .shop-name {
      margin-bottom: 0.2rem; }
    .cont .shop-pic .shop-info .shop-price {
      color: #ff595f;
      margin-bottom: 0.4rem; }
      .cont .shop-pic .shop-info .shop-price .rmb {
        font-size: 0.72rem; }
      .cont .shop-pic .shop-info .shop-price .old-price {
        color: #999999;
        text-decoration: line-through;
        margin-left: 0.4rem; }
      .cont .shop-pic .shop-info .shop-price .fr {
        color: #333333; }
  .cont .shop-pic .group {
    display: flex;
    justify-content: flex-start; }
    .cont .shop-pic .group p {
      margin-left: 0.4rem;
      color: #999999;
      font-size: 0.48rem; }
  .cont .shop-pic .group-icon {
    display: flex;
    border: 1px solid #ff595f;
    justify-content: flex-start;
    font-size: 0.48rem;
    border-radius: 0.1rem;
    width: 2.8rem;
    overflow: hidden; }
    .cont .shop-pic .group-icon .icon-l {
      flex: 0 0 0.8rem;
      text-align: center;
      color: #ffffff;
      background: #ff595f; }
    .cont .shop-pic .group-icon .icon-r {
      flex: 1;
      color: #ff595f;
      background: #ffffff;
      text-align: center; }

.group-info-warpper {
  padding: 0.4rem 0.6rem;
  border-bottom: 0.2rem solid #ececec; }
  .group-info-warpper .info-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem; }
    .group-info-warpper .info-header .pay-num span {
      color: #ff595f;
      font-weight: 700; }
  .group-info-warpper .info-range {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0.4rem;
    font-size: 0.6rem; }
    .group-info-warpper .info-range .range {
      flex: 1;
      padding: 0 0.4rem; }
      .group-info-warpper .info-range .range .range-backgroud {
        width: 100%;
        height: 0.8rem;
        background: #ececec;
        border-radius: 10px;
        position: relative; }
        .group-info-warpper .info-range .range .range-backgroud .range-line {
          width: 0%;
          height: 0.8rem;
          border-radius: 10px;
          background: #ff595f;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .2s linear; }
        .group-info-warpper .info-range .range .range-backgroud .insert-content {
          background: #ff595f;
          color: #ffffff;
          position: absolute;
          padding: 0.2rem 0;
          border-radius: 0.2rem;
          top: 1.2rem;
          left: 0%;
          transform: translateX(-50%);
          transition: all .2s linear; }
          .group-info-warpper .info-range .range .range-backgroud .insert-content .num {
            position: relative;
            width: 4.5rem;
            text-align: center; }
            .group-info-warpper .info-range .range .range-backgroud .insert-content .num .triangle {
              position: absolute;
              top: -0.4rem;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 0;
              border-bottom: 0.4rem solid #ff595f;
              border-left: 0.4rem solid transparent;
              border-right: 0.4rem solid transparent; }
  .group-info-warpper .user-info {
    width: 100%;
    margin-top: 2rem;
    overflow-x: auto; }
    .group-info-warpper .user-info .infos-list {
      display: flex;
      justify-content: flex-start; }
      .group-info-warpper .user-info .infos-list .info-item {
        flex: 0 0 2.4rem;
        position: relative;
        margin-right: 0.4rem; }
        .group-info-warpper .user-info .infos-list .info-item img {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%; }
        .group-info-warpper .user-info .infos-list .info-item span {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 0.48rem;
          color: #fff;
          background: #ff595f;
          padding: 0.1rem 0.2rem;
          border-radius: 50%; }

.play-info {
  font-size: 0.52rem;
  margin-top: 0.2rem; }
  .play-info .play-tit {
    width: 100%;
    padding: 0 4%;
    display: flex;
    line-height: 1.4rem; }
    .play-info .play-tit .iconfont {
      color: #999;
      display: inline-block;
      vertical-align: middle; }
    .play-info .play-tit span {
      flex: 1;
      vertical-align: middle; }
      .play-info .play-tit span:last-of-type {
        text-align: right; }
  .play-info .play-cont {
    padding: 0.4rem 0 0.4rem 4%;
    border-bottom: 0.2rem solid #ececec; }
    .play-info .play-cont .cur .play-num {
      color: #fff;
      background: #ff595f;
      border-color: #ff595f; }
    .play-info .play-cont .cur .play-txt {
      color: #ff595f; }
  .play-info .play-cont > div {
    width: 25%; }
  .play-info .play-num {
    color: #666;
    width: 0.8rem;
    text-align: center;
    border-radius: 50%;
    line-height: 0.8rem;
    border: 1px solid #666;
    margin: 0.3rem 0.2rem 0 0; }
  .play-info .play-txt {
    width: 60%; }
  .play-info .zhi {
    padding-top: 0.3rem; }

.countdown {
  font-size: 0.52rem;
  padding-top: 0.3rem; }
  .countdown span {
    color: #ff595f;
    font-weight: 900; }

.footer {
  padding: 0 4%;
  border-top: 1px solid #ddd; }
  .footer a {
    float: left;
    color: #999;
    width: 1.8rem;
    height: 1.6rem;
    line-height: 1.8rem;
    font-size: 0.5rem;
    text-align: center;
    display: inline-block;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: .3rem;
    margin: 0.15rem 0;
    vertical-align: middle; }
    .footer a img {
      width: 0.9rem;
      height: 0.9rem;
      margin-top: 0.38rem;
      display: inline-block; }
  .footer .yao {
    float: left;
    color: #fff;
    width: 83%;
    margin-left: 0.5rem;
    height: 1.6rem;
    line-height: 1.8rem;
    font-size: 0.5rem;
    text-align: center;
    display: inline-block;
    background: #ff595f;
    border: 1px solid #e3e3e3;
    border-radius: .3rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem; }

.mc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8); }

.zhao {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99991;
  display: none;
  position: fixed;
  padding: 0.5rem 4%;
  font-size: 0.52rem; }
  .zhao .zhao-head {
    width: 100%;
    background: #fff;
    position: relative;
    padding: 0.4rem 3%;
    line-height: 0.8rem;
    border-radius: 0.2rem; }
    .zhao .zhao-head .zhao-txt {
      width: 86%; }
    .zhao .zhao-head .icon-tag22 {
      right: 0;
      top: -0.3rem;
      font-size: 1rem;
      position: absolute;
      color: #ff595f;
      transform: rotate(-50deg); }
  .zhao .zhao-cancel {
    width: 100%;
    background: #fff;
    line-height: 1.6rem;
    border-radius: 0.2rem; }

.zhao-cont {
  width: 100%;
  background: #fff;
  margin: 0.3rem 0;
  padding: 0.4rem 3%;
  border-radius: 0.2rem; }
  .zhao-cont .zhao-tit {
    font-weight: 900;
    line-height: 1.8rem; }
  .zhao-cont .zhao-cont {
    color: #999;
    text-align: center; }
    .zhao-cont .zhao-cont img {
      width: 5rem;
      height: 5rem; }
  .zhao-cont textarea {
    width: 94%;
    padding: 0.4rem 3%;
    border: 1px solid #f1f1f1; }

/*# sourceMappingURL=j-buyin.css.map */
