<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
    <include file="./App/Common/View/default/Public/crumb.html" />
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                <if condition="$dishes_type eq 0">
                    <li class="active">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>0))}">早餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>1))}">午餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>2))}">晚餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishes_history')}">历史菜单</a>
                    </li>
                    <elseif condition="$dishes_type eq 1"/>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>0))}">早餐</a>
                    </li>
                    <li class="active">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>1))}">午餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>2))}">晚餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishes_history')}">历史菜单</a>
                    </li>
                    <elseif condition="$dishes_type eq 2"/>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>0))}">早餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>1))}">午餐</a>
                    </li>
                    <li class="active">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>2))}">晚餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishes_history')}">历史菜单</a>
                    </li>
                    <else/>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>0))}">早餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>1))}">午餐</a>
                    </li>
                    <li class="">
                        <a href="{:U('Mp/Eatery/dishesEveryweek',array('dishes_type'=>2))}">晚餐</a>
                    </li>
                    <li class="active">
                        <a href="{:U('Mp/Eatery/dishes_history')}">历史菜单</a>
                    </li>
                </if>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <div class="table-responsive">
                <div>
                    <form action="{:U('Mp/Eatery/dishesEveryweek')}" method="post">
                    时间:<input type="text"  name="start_time" value="{$start_time}" placeholder="起始时间" class="search date-input ">至<input type="text"  name="end_time" value="{$end_time}" placeholder="结束时间" class="search date-input" >
                    菜品名称:<input type="text"  name="search" value="{$search}"  placeholder="请输入搜索信息" class="search">                   
                    <input type="hidden" name="dishes_type" value="{$dishes_type}">
                    <input type="submit" class="button"  value="搜索" style="padding:1px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center;"/>
                    </form> 
                </div>
                <style>
                    input[placeholder], [placeholder], *[placeholder] {
                        color:#778899 !important;
                    }
                    form{margin:0px;display: inline}
                    .search{
                            width:200px;
                            height: 25px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                            padding-left: 10px;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                        }
                    #select{
                            border-radius: 5px;
                            border: 1px solid red;
                        }
                        /*tr{
                            overflow:hidden;
                        }
                        td{
                            float: left;
                        }*/
                </style>               <!--公众号搜索功能-->
                <div id="showdiv">
                <div id="msg">
                <table class="table table-striped">
                    <thead>
                    <tr>   
                        <th style="width:5%;text-align:center;">序号</th>
                        <th style="width:5%;text-align:center;">图片</th>
                        <th style="width:82%;padding-left:2%;">菜品名称</th>
                        <th style="width:10%;">选择</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data.lists" key="k" id="vo">
                        <tr>
                            <td style="text-align:center;">{$k}</td>
                            <td style="text-align:center;"><img src="{$vo.dishes_img}" class="small" width="20" height="20"></td>
                            <td style="padding-left:2%;">{$vo.dishes_name}</td>
                            <td style=""><input type="checkbox" name="did" value="{$vo.did}" <?php if(in_array("$vo[did]", $new_fields)){ echo "checked"; } ?>></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                    <input type="button" value="提交" onclick="submits()" style="padding:1px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center; float:right;margin:10px 5% 0 0;">
                </div>
                </div>
                <div class="mod-table-foot">
                       <span style="margin-left:8px;">
                        <center>
                            <a href="index.php?s=/Mp/Eatery/dishesEveryweek/p/1/start_time/{$start_time}/end_time/{$end_time}/search/{$search}/dishes_type/{$dishes_type}">首页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/dishesEveryweek/p/{$data.pre}/start_time/{$start_time}/end_time/{$end_time}/search/{$search}/dishes_type/{$dishes_type}">上一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/dishesEveryweek/p/{$data.next}/start_time/{$start_time}/end_time/{$end_time}/search/{$search}/dishes_type/{$dishes_type}">下一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/dishesEveryweek/p/{$data.pagesum}/start_time/{$start_time}/end_time/{$end_time}/search/{$search}/dishes_type/{$dishes_type}">尾页</a>
                            &nbsp;&nbsp; 页次:<font color="red">{$data.page}</font>/{$data.pagesum}&nbsp;&nbsp;共有<font color="red">{$data.counts}</font>条记录&nbsp;&nbsp;转到<input type="text" id="p" style="width:20px; height:20px; border:1px solid #a49191">页&nbsp;&nbsp;<button onclick="gopage()" style="padding:0; line-height:18px;">GO</button>
                            </center>
                        </span>
                        <div class="page-control"><ul class="pagination pull-right">    </ul></div>
                    </div>
            </div>
        </div>
    </div>
<div class="popup-img" style="position: fixed;top: 0;left: 0;bottom: 0;right: 0; display: none;background: rgba(51, 51, 51,0.8);z-index: 9999;">
        <img src="" alt="" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);"/>
    </div>
</block>
<block name="script">
    <script type="text/javascript"> 
        //设置日期选择器
        $('.date-input').each(function() {
            $(this).flatpickr({
                // minDate: new Date()
            });
        });
       $(".check-all").on('ifChecked', function (e)
        {
            // bootAlert(1);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('check');
        });

        $(".check-all").on('ifUnchecked', function (e)
        {
            // bootAlert(0);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('uncheck');

        });
        //点击图片显示大图
        $('.table').on('click','.small',function(){
            var src = $(this).attr('src');
            $('.popup-img').show();
            $('.popup-img').find('img').attr('src',src);
        });
        $('.popup-img').on('click',function(){
            $(this).hide();
            $(this).find('img').attr('src','');
        })
        function submits(){
            if(confirm('你确定要提交吗？')){
                var did = document.getElementsByName("did");
                var dishes_type = $("input[name='dishes_type']").val();
                var start_time = $("input[name='start_time']").val();
                var end_time = $("input[name='end_time']").val();
                // bootAlert(own_id.length);
                var str = '';
                var lengths = did.length;
                for(var i=0;i<lengths;i++){  
                    if(did[i].checked)  
                    str+=did[i].value+',';   
                }
                // alert(str);
                var postUrl = "{:U('Mp/Eatery/dishes_submit')}";
                $.post(postUrl,{'did':str,'dishes_type':dishes_type,'start_time':start_time,'end_time':end_time},function(data){
                    if (data.status == 1) {
                        bootAlert(data.info);
                        location.reload();
                    } else {
                        bootAlert(data.info);
                    }
                });
            }
        }
        function gopage(){
            var page = $("#p").val();
            var start_time = $("input[name='start_time']").val();
            var end_time = $("input[name='end_time']").val();
            var search = $("input[name='search']").val();
            var dishes_type = $("input[name='dishes_type']").val();
            window.location.href='index.php?s=/Mp/Eatery/dishesEveryweek/p/'+page+'/start_time/'+start_time+'/end_time/'+end_time+'/search/'+search+'/dishes_type/'+dishes_type;
        }
    </script>
</block>
