<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
    <include file="./App/Common/View/default/Public/crumb.html" />
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{:U('Mp/Eatery/healthKnowledge')}">健康知识</a>
                    </li>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <div class="table-responsive">
                <div>
                    <a style="padding:2px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center;" href="{:U('Mp/Eatery/healthKnowledge_pro')}">新增记录</a>
                    <form action="{:U('Mp/Eatery/healthKnowledge')}" method="post">
                    <if condition="$search neq ' '">
                        <input type="text"  name="search" value="{$search}"  placeholder="请输入菜品名称" class="search">
                    <else/>
                        <input type="text"  name="search" value="" placeholder="请输入菜品名称" class="search">
                    </if>
                    <input type="submit" class="button"  value="搜索" style="padding:1px 10px; font-size:96%; color:#fff; background:#337ab7; border-radius: 5px; border: none;display:inline-block; text-align:center;"/>
                    </form> 
                </div>
                <style>
                    input[placeholder], [placeholder], *[placeholder] {
                        color:#778899 !important;
                    }
                    form{margin:0px;display: inline}
                    .search{
                            width:200px;
                            height: 25px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                            padding-left: 10px;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                        }
                    #select{
                            border-radius: 5px;
                            border: 1px solid red;
                        }
                </style>               <!--公众号搜索功能-->
                <div id="showdiv">
                <div id="msg">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width:5%">选中</th>
                        <th style="width:5%">序号</th>
                        <th style="width:5%">图片</th>
                        <th style="width:49%">文章名</th>
                        <th style="width:14%">创建时间</th>
                        <th style="width:14%">修改时间</th>
                        <th style="width:8%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data.lists" key="k" id="vo">
                        <tr>
                            <td style=""><input type="checkbox" name="id" class="checks" value="{$vo.aid}"></td>
                            <td style="">{$k}</td>
                            <td><img src="{$vo.article_img}" class="small" width="20" height="20"></td>
                            <td><a href="{:U('Mp/Eatery/article_mess',array('aid'=>$vo['aid']))}">{$vo.article_title}</a></td>
                            <td>
                                {$vo.acreate_time|date="Y-m-d H:i:s",###}
                            </td>
                            <td>
                                <if condition="$vo.aupdate_time eq ''">
                                    -
                                    <else/>
                                    {$vo.aupdate_time|date="Y-m-d H:i:s",###}
                                </if>
                            </td>
                            <td style="">
                                <a href="{:U('Mp/Eatery/article_edit',array('aid'=>$vo['aid']))}"><img src="__ROOT__/edit.gif" alt="" width='12px' height='12px'></a>  &nbsp;&nbsp; <a href="javascript:void(0);" onclick="del({$vo.aid})"><img src="__ROOT__/del.gif" alt="" width='15px' height='15px'></a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                </div>
                </div>
                    <div class="mod-table-foot">
                       <span style="margin-left:8px;"><input type="checkbox" class="check-all"><div class="quanxuan" style="margin-left:2%; display:inline-block;">全选</div><a href="javascript:void(0);" onclick="delall()" style="vertical-align: middle; display:inline-block;"><img src="http://www.mobtop.com.cn/del.gif" alt=""  style="width:15px; height:20px; display:inline-block; margin:0 0 0 10px;"></a>
                        <center>
                            <a href="index.php?s=/Mp/Eatery/healthKnowledge/p/1/search/{$search}">首页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/healthKnowledge/p/{$data.pre}/search/{$search}">上一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/healthKnowledge/p/{$data.next}/search/{$search}">下一页</a>&nbsp;&nbsp;
                            <a href="index.php?s=/Mp/Eatery/healthKnowledge/p/{$data.pagesum}/search/{$search}">尾页</a>
                            &nbsp;&nbsp; 页次:<font color="red">{$data.page}</font>/{$data.pagesum}&nbsp;&nbsp;共有<font color="red">{$data.counts}</font>条记录&nbsp;&nbsp;转到<input type="text" id="p" style="width:20px; height:20px; border:1px solid #a49191">页&nbsp;&nbsp;<button onclick="gopage()" style="padding:0; line-height:18px;">GO</button>
                            </center>
                        </span>
                        <div class="page-control"><ul class="pagination pull-right">    </ul></div>
                    </div>
            </div>
        </div>
    </div>
<div class="popup-img" style="position: fixed;top: 0;left: 0;bottom: 0;right: 0; display: none;background: rgba(51, 51, 51,0.8);z-index: 9999;">
        <img src="" alt="" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);"/>
    </div>
</block>
<block name="script">
    <script type="text/javascript"> 
        function del(obj) {
            var postUrl = "{:U('Mp/Eatery/article_dele')}";
                if (confirm('你确定要删除吗？')) {
                    $.post(postUrl, {"did":obj}, function (data) {
                        if (data.status == 1) {
                            bootAlert(data.info);
                            location.reload();
                        } else {
                            bootAlert(data.info);
                        }
                    });
                }
            }
        var tableFristText = $('.table-title-text');
        tableFristText.each(function(i,elem){
            var sl = "...";
            var html = "";
            if($(elem).html().length >4){
                html = $(elem).html().slice(0,4) + sl;
            }else {
                html = $(elem).html();
            }
            $(elem).html(html);
        });
       $(".check-all").on('ifChecked', function (e)
        {
            // bootAlert(1);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('check');
        });

        $(".check-all").on('ifUnchecked', function (e)
        {
            // bootAlert(0);
            e.preventDefault();

            $('.table').find(".icheckbox_square-blue").iCheck('uncheck');

        });
        function delall(){
            if(confirm('你确定要删除多项吗？')){
                var id = document.getElementsByName("id");
                // bootAlert(own_id.length);
                var str = '';
                var lengths = id.length;
                for(var i=0;i<lengths;i++){  
                    if(id[i].checked)  
                    str+=id[i].value+',';   
                }
                // bootAlert(str);
                var postUrl = "{:U('Mp/Eatery/article_delall')}";
                $.post(postUrl,{'id':str},function(data){
                    if (data.status == 1) {
                        bootAlert(data.info);
                        location.reload();
                    } else {
                        bootAlert(data.info);
                    }
                });
            }
            
        }
        function gopage(){
            var page = $("#p").val();
            var search = $("input[name='search']").val();
            window.location.href='index.php?s=/Mp/Eatery/healthKnowledge/p/'+page+'/search/'+search;
        }
        //点击图片显示大图
        $('.table').on('click','.small',function(){
            var src = $(this).attr('src');
            $('.popup-img').show();
            $('.popup-img').find('img').attr('src',src);
        });
        $('.popup-img').on('click',function(){
            $(this).hide();
            $(this).find('img').attr('src','');
        })
    </script>
</block>
